# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# IDE/Editor files
.idea
*.iml
.vscode

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Tags files
tags

